<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/vet1.jpg" class="img-fluid img-responsive" alt="ph">
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/vet2.jpg" class="img-fluid img-responsive" alt="ph">
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/vet3.jpg" class="img-fluid img-responsive" alt="ph">
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/vet4.jpg" class="img-fluid img-responsive" alt="ph">
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/vet5.jpg" class="img-fluid img-responsive" alt="ph">
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/vet6.jpg" class="img-fluid img-responsive" alt="ph">
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/p1.jpg" class="img-fluid img-responsive" alt="ph">
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/p2.jpg" class="img-fluid img-responsive" alt="ph">
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/p3.jpg" class="img-fluid img-responsive" alt="ph">
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/p4.jpg" class="img-fluid img-responsive" alt="ph">
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/p5.jpg" class="img-fluid img-responsive" alt="ph">
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/p6.jpg" class="img-fluid img-responsive" alt="ph">
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xd-12">
                <img src="assets/img/s1.jpg" class="img-fluid img-responsive" alt="ph">
            </div>
            <div class="col-lg-4 col-md-4 col-xd-12">
                <img src="assets/img/s2.jpg" class="img-fluid img-responsive" alt="ph">
            </div>
            <div class="col-lg-4 col-md-4 col-xd-12">
                <img src="assets/img/s3.jpg" class="img-fluid img-responsive" alt="ph">
            </div>
            <div class="col-lg-4 col-md-4 col-xd-12">
                <img src="assets/img/s4.jpg" class="img-fluid img-responsive" alt="ph">
            </div>
            <div class="col-lg-4 col-md-4 col-xd-12">
                <img src="assets/img/s5.jpg" class="img-fluid img-responsive" alt="ph">
            </div>
            <div class="col-lg-4 col-md-4 col-xd-12">
                <img src="assets/img/s6.jpg" class="img-fluid img-responsive" alt="ph">
            </div>
        </div>
    </div>