<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/vet1.jpg" class="img-fluid img-responsive" alt="ph">
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/vet2.jpg" class="img-fluid img-responsive" alt="ph">
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/vet3.jpg" class="img-fluid img-responsive" alt="ph">
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/vet4.jpg" class="img-fluid img-responsive" alt="ph">
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/vet5.jpg" class="img-fluid img-responsive" alt="ph">
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/vet6.jpg" class="img-fluid img-responsive" alt="ph">
        </div>
    </div>
</div>